.screen {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
}
.hide {
	display: none;
}
.coverScreen {
	top: 0px;
	left: 0px;
}
.black {
	background-color: black;
}
.white {
	background-color: white;
}
body {
	background-color: #1d1d1d;
	margin:0;
	padding:0;
}