.bugIcon{
	width: 70px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index:1;
}
.full {
	width:100%;
	height:100%;
}
.titles {
	z-index:10;
	background-size:cover;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin: auto;
}
.hide {
	display: none;
}