/**************
* Orientation *
**************/

@media (min-aspect-ratio: 1/1) {
	#portrait {
		display: none;
		text-decoration: italic;
	}
}
@media (max-aspect-ratio: 1/1) {
	#landscape {
		display: none;
		text-decoration: italic;
	}
}
/*******
* Main *
*******/
.nopad {
	padding: 5px;
}
body {
	overflow-x: hidden;
}
.panel {
	position: absolute;
	top: 104px;
	width: calc(100% - 20px);
}
.card {
	margin: 10px 10px;
}
.flavourText {
	font-style: italic;
	font-size: 0.8em;
}

/***********
* Breeders *
***********/
.buyContainer {
	display: flex;
	flex-direction: row;
}
.buyButton {
	line-height: 1em;
	flex-grow: 1;
	text-align: center;
}
.breederStats {
	font-size: 0.9em
}
.buyCost {
	position: absolute;
	bottom: 2px;
	width: 100%;
	font-size: 0.8em;
}
.buyCount {
	position: absolute;
	width: 100%;
	top: 2px;
}

/***********
* Upgrades *
***********/
.upgradeShelf {
	max-height: 200px;
	overflow: auto;
	min-height: 41px;
	display: flex;
	flex-wrap: wrap;
}
.upgradeContainer {
	width: 100%;
}
.upgradeBox {
	margin: 2px;
	height: 37px;
	width: 37px;
	background-color: #ee6e73;
}
.upgradeIcon {
	width: 100%;
}
.upgradeTitle {
	font-size: 1.5rem;
}

/**********
* Clicker *
**********/
.clickerImage {
	width: 100%;
}

/*************
* Main Cards *
*************/
@keyframes move-off-right {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}
@keyframes move-off-left {
	0% {
		right: 0;
	}
	100% {
		right: 100%;
	}
}
@keyframes move-off-bottom {
	0% {
		top: 0;
		visibility: visible;
	}
	100% {
		top: 100px;
		visibility: hidden;
	}
}
@keyframes move-in-right {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}
@keyframes move-in-left {
	0% {
		right: 100%;
	}
	100% {
		right: 0;
	}
}
@keyframes move-in-bottom {
	0% {
		top: 100px;
		visibility: hidden;
	}
	100% {
		top: 0;
		visibility: visible;
	}
}
.off-right {
	left: 100%;
}
.off-left {
	right: 100%;
}
.off-bottom {
	top: 100px;
	visibility: hidden;
}
.leave-left {
	animation: move-off-left 195ms cubic-bezier(0.4, 0.0, 0.6, 1);
}
.leave-right {
	animation: move-off-right 195ms cubic-bezier(0.4, 0.0, 0.6, 1);
}
.leave-bottom {
	animation: move-off-bottom 195ms cubic-bezier(0.4, 0.0, 0.6, 1);
}
.enter-right {
	animation: move-in-right 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.enter-left {
	animation: move-in-left 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.enter-bottom {
	animation: move-in-bottom 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
}